[submodule "models/deep-learning-HAR"]
	path = dnn-models/deep-learning-HAR
	url = https://github.com/EMCLab-Sinica/deep-learning-HAR.git
[submodule "Tools"]
	path = tools
	url = https://github.com/EMCLab-Sinica/Tools.git
[submodule "TI-DSPLib"]
	path = TI-DSPLib
	url = https://github.com/EMCLab-Sinica/DSPLib.git
[submodule "ARM-CMSIS"]
	path = ARM-CMSIS
	url = https://github.com/EMCLab-Sinica/ARM-CMSIS.git
