[submodule "models/deep-learning-HAR"]
	path = dnn-models/deep-learning-HAR
	url = ../deep-learning-HAR.git
	branch = riotee
[submodule "Tools"]
	path = tools
	url = ../Tools.git
	branch = riotee
[submodule "TI-DSPLib"]
	path = TI-DSPLib
	url = ../DSPLib.git
	branch = riotee
[submodule "ARM-CMSIS"]
	path = ARM-CMSIS
	url = ../ARM-CMSIS.git
	branch = riotee
